@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: Raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;

}

.display-layout::-webkit-scrollbar {
  width: 1em;
}
 
.display-layout::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  width: 2px;
}
 
.display-layout::-webkit-scrollbar-thumb {
  background-color: #808080;
  border: 8px;
  width: 1px;
  /* outline: 1px solid red; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  font-size: 28px;
}

.paper {
  background-color: #ffffff;
  height: 35rem;
  width: 45%;
 
  margin: 3rem auto 0;
 

  border-radius: 1rem;
}

.display-layout {
  height: 28rem;
  overflow-y: auto!important;
  overflow-x: hidden;
}

.form-container {
  padding: 1rem 2rem 1rem 1rem;
}

.text-field {
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #a9a9a9;
  font-size: 16px;
  padding: 0 0.5rem 0.3rem;
}

.d-flex {
  display: flex;
}

.data-container {
  padding: 1rem 0.8rem;
  border-bottom: 1px solid #a9a9a9;
  justify-content: space-between;
}

.data-detail {
  gap: 3rem;
}

#picture-container {
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a9a9a9;
  border-radius: 50%;
}

div > ul {
  margin: 0.5rem 0 0 1rem;
}

ul > li {
  color: #a9a9a9;
  margin-bottom: 0.2rem;
}

.icon {
  color: #a9a9a9;
  font-size: 24px;
  cursor: pointer;
}

.icon:hover {
  color: black;
}

.collapse-btn {
 border: none;
background: transparent
}


.tag {
  padding: 3px 8px;
  background-color: #d3d3d3;
  border-radius: 4px;
  color: #000000;
}

@media (max-width: 768px) {
  .paper {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .data-detail {
    flex-direction: column;
    align-items: center;
  }
}
